body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.seccion-mono {
  position: absolute;
  top: 30%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.seccion-mono img {
  width: 600px;
  height: auto;
}

.seccion-camara-mono {
  position: absolute;
  top: 30%;
  left: -5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.seccion-camara-mono img {
  width: 600px;
  height: auto;
}

.dialogo {
  position: absolute;
  top: 20%;
  left: 45%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  max-width: 200px;
}

.dialogo-cam {
  position: absolute;
  top: -20%;
  left: 45%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  max-width: 200px;
}

.descripcion {
  position: relative;
  top: -30%;
  left: 110%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  max-width: 300px;
}

.center-image {
  width: 300px;
  height: auto;
  margin-bottom: -3rem;
}

button {
  background-color: #266ced;
  color: white;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.3s;
  position: absolute;
  bottom: 10%;
}

button:hover {
  background-color: #3e82ff;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

.texto-letra {
  position: absolute;
  top: -260px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13rem;
  font-weight: bold;
  color: #266ced;
}

.textocam {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  color: #266ced;
}

.texto-resultado {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #266ced;
}

button:disabled {
  background-color: #cccccc;
  color: #888888;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.seleccion-ejercicio img {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 20px;
}

.seleccion-ejercicio img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.texto-felicidades {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: bold;
  color: #266ced;
}

.texto-felicidades-mensaje {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #266ced;
  max-width: 600px;
  text-align: center;
}

.camara-borde {
  border: 10px solid red;
  /* valor por defecto */
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

.camara-reconocida {
  border-color: green;
}
